* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

dl,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}
main {
    overflow-x: hidden;
}
.container {
    max-width: 1170px;
}
.section-title {
    color: #222426;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 50px;
    font-weight: 800;
    text-align: center;
}
.button {
    background: #1b66ff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFffff;
    border-radius: 6px;
}
.button-green {
    background: #00cc89;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFffff;
    border-radius: 6px;
}
.button-green:hover,
.button:hover {
    color: #FFffff;
}
.burger-menu {
    position: relative;
    display: none;
}
.burger-menu_button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    border: none;
    background: none;
    transition: 0.4s;
}
.burger-menu-lines{
    position: absolute;
    width: 30px;
    height: 3px;
    background: #222426;
}
.burger-menu-lines:first-child {
    top: 50%;
    right: 0;
}
.burger-menu-lines:nth-child(2){
    content: "";
    top: 9px;
    right: 0;
}
.burger-menu-lines:nth-child(3) {
    content: "";
    top: -9px;
    right: 0;
}

.burger-menu-button:hover .burger-menu-lines {
    filter: brightness(0.7);
}
.burger-menu_nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 100px 0 20px 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow-y: auto;
    left: 0;
    top: -200%;
    transition: 0.4s;
    background: rgba(000, 000, 000, 0.9);
}
.burger-menu_nav ul {
    display: flex;
    flex-direction: column;
}
.burger-menu_nav ul li {
    padding: 0 0 10px 0!important;
}
.burger-menu_nav .account {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.burger-menu_nav .language {
    color: #FFffff;
}
.burger-menu_nav .account a {
    color: #FFffff;
    margin-bottom: 10px;
}
.burger-menu_nav ul li .burger-menu_link{
    text-align: left;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF!important;
}
.burger-menu_active  .burger-menu_nav {
    top: 0;
}
.burger-menu_nav ul li .burger-menu_link:hover {
    border-bottom: 1px solid #FFffff;
}
.burger-menu_link:hover,
.burger-menu_link:focus {
    color: #ffffff;
    font-weight: 800;
}
.burger-menu_link.line {
    text-decoration-line: underline;
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu_button{
    z-index: -1;
}
.mobile-menu .burger-menu_nav:after{
    content: "Политика конфиденциальности";
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
}
.burger-menu_nav .burger-menu_button {
    position: absolute;
    left: 0;
    top: 20px;
}
.burger-menu_nav .burger-menu_button .burger-menu-lines{
    left: 25px;
    top: 27px;
    transform: rotate(45deg);
    background: #ffffff;
}
.burger-menu_nav .burger-menu_button .burger-menu-lines:nth-child(2){
    left: 25px;
    top: 27px;
    transform: rotate(-45deg);
    background: #ffffff;
}
header .header-top {
    background: #f6f7fb;
}
header .header-top .header-top_box {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-top .header-top_box .account .login {
    color: #757c8a;
    font-size: 16px;
    margin-right: 65px;
}
header .header-top .header-top_box .account .login:hover{
    font-weight: 600;
}
header .header-top .header-top_box .account .signup img,
header .header-top .header-top_box .account .login img {
    margin-right: 10px;
}
header .header-top .header-top_box .account .signup{
    color: #1b66ff;
    font-size: 16px;
}
header .header-nav {
    padding: 48px 0 0 0;
}
header .header-nav .header-nav_box {
    justify-content: space-between;
    align-items: center;
}
header .header-nav .header-nav_box .logo {
    margin-right: 65px;
    padding: 16px 0 23px 0;
}
header .header-nav .header-nav_box nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-nav .header-nav_box ul li {
    position: relative;
    padding: 16px 25px 20px 25px;

}
header .header-nav .header-nav_box ul li:last-child {
    padding: 16px 0 20px 25px;
}
header .header-nav .header-nav_box ul .top-menu:hover {
    background: #1b66ff;
    border-radius: 4px;
}
header .header-nav .header-nav_box ul .top-menu:after {
    content: url("../images/arrow-down1.svg");
    position: absolute;
    right: 12px;
    top: 14px;
}
header .header-nav .header-nav_box ul .top-menu:hover:after{
    content: url("../images/arrow-top.svg");
}
header .header-nav .header-nav_box ul .top-menu:hover a {
    color: #FFffff;
}
header .header-nav .header-nav_box ul li:hover .submenu,
header .header-top .language li:hover .submenu{
    transform: translateY(0);
}
header .header-top .language li {
    position: relative;
}
header .header-top .language li .submenu {
    transform: translateY(-500%);
    position: absolute;
    left: 0;
    z-index: 999;
    background: #FFffff;
    cursor: pointer;
    padding: 7px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(127, 133, 141, 0.4);
    border-radius: 4px;
}
header .header-nav .header-nav_box ul li .submenu{
    position: absolute;
    left: 0;
    z-index: 999;
    transform: translateY(-500%);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 212px;
    background: #1b66ff;
    padding: 20px 25px;
    box-shadow: 0 1px 3px 0 rgba(127, 133, 141, 0.4);
    border-radius: 4px;
}
header .header-nav .header-nav_box ul li .submenu li {
    margin: 0;
    padding: 0 0 4px 0;
}
header .header-nav .header-nav_box ul li:hover {
    font-weight: 700;
}
header .header-nav .header-nav_box ul li .submenu li:hover a {
    font-weight: 800;
}
header .header-nav .header-nav_box ul li a {
    font-size: 16px;
    color: #757c8a;
}
header .header-top .header-top_box .language li img {
    transition: .4s ;
}
header .header-top .header-top_box .language li:hover img {
    transform: rotate(180deg);
}
header .header-top .header-top_box .language .top-menu .submenu li:hover{
    color: #1b66ff;
    font-weight: 600;
}
#home {
    padding: 37px 0 116px 0;
}
#home .box h1 {
    font-size: 45px;
    line-height: 55px;
    color: #222426;
    font-weight: 800;
}
#home .box .subtitle {
    margin: 20px 0 28px 0;
    font-size: 18px;
    line-height: 30px;
    color: #222426;
}
#home .oc {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
#home .oc  .item {
    border-radius: 6px;
    background-color: #222426;
    width: 170px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .oc  .item:first-child{
    margin-right: 30px;
}
#home .box-body {
    margin-top: 35px;
}
#home .box-body .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
#home .box-body .item {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    font-size: 18px;
    color: #222426;
}
#home .box-body .item img {
    margin-right: 17px;
    width: 23px;
    height: 23px;
}
#home .box-body .item p {

}
#home .box-body .link {
    display: flex;
    margin: 55px 0 65px 0;
}
#home .box-body .link .link-box {
    display: flex;
    align-items: center;
}
#home .box-body .link .link-box:first-child {
    margin-right: 50px;
}
#home .box-body .link .link-box .img {
    background-image: -moz-linear-gradient( -45deg, rgb(192,213,255) 0%, rgb(204,252,240) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(192,213,255) 0%, rgb(204,252,240) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(192,213,255) 0%, rgb(204,252,240) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 83px;
    border-radius: 13px;
    margin-right: 15px;
}
#home .box-body .link .link-box .text p{
    font-size: 16px;
    line-height: 24px;
    color: #525a6d;
    margin-bottom: 10px;
}
#home .box-body .link .link-box .text p img {
    margin-left: 5px;
}
#home .box-body .link .link-box .text a {
    color: #1b66ff;
}
#home .btn-group a {
    height: 56px;
    width: 270px;
}
#home .btn-group a:first-child {
    margin-right: 30px;
}
#home .box-img{
    position: relative;
    height: 100%;
}
#home .box-img:after{
    content: "";
    background: url(../images/home.png)no-repeat;
    background-size: cover;
    height: 675px;
    width: 688px;
    position: absolute;
    left: -210px;
    top: 0;
}
#home .box-img .video {
    position: absolute;
    bottom: -68px;

    width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
}
#home .box-img .video .text {
    margin-right: 20px;
}
#home .box-img .video .popup-youtube {
    transition: .4s;
}
#home .box-img .video .popup-youtube:hover {
    transform: scale(1.2);
}
#home .box-img .video .text a {
    color: #0e5dff;
    font-size: 20px;
}
#home .box-img .video .text p {
    text-align: right;
    color: #222426;
    font-size: 20px;
}

#about {
    padding: 52px 0 0 0;
    background: #f6f7fb;
}
#about .about-info p{
    color: #222426;
    font-size: 18px;
    line-height: 35px;
}
#about .about-info p:first-child{
    margin-bottom: 50px;
}
#about .box .item {
    align-items: center;
    padding: 20px 40px;
    background: #FFffff;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    margin-bottom: 42px;
}
#about .box .item  img {
    margin-right: 35px;
}
#about .box .item  p {
    font-size: 23px;
    line-height: 30px;
    color: #1b66ff;
}
#about .box .button{
    padding: 20px 0;
    border-radius: 4px;
}
#tariffs {
    background: #f6f7fb;
    padding: 116px 0 0 0;
}
#tariffs .box {
    border-radius: 20px;
    text-align: center;
    position: relative;
}
#tariffs .box .box-header{
    background-color: rgb(27, 102, 255);
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    padding: 24px 0 48px 0;
    border-radius: 20px;
    z-index: -1;
}
#tariffs .box .box-header .title {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;

}
#tariffs .box .box-header .percent {
    margin: 0;
    color: #FFffff;
    font-weight: 700;
    font-size: 40px;
}
#tariffs .box .box-header .percent span {
    color: #0038a9;
}
#tariffs .box .box-header .percent p {
    font-size: 25px;
}
#tariffs .box-body {
    padding: 44px 30px 36px 30px;
    z-index: 2;
    margin-top: -30px;
    background: #FFffff;
    border-radius: 20px;
}
#tariffs .box-body .title,
#tariffs .box-body .subtitle{
    font-size: 16px;
    line-height: 30px;
    color: #222426;
}
#tariffs .box-body .subtitle {
    margin: 20px 0 25px 0;
}
#tariffs .box-body .title{
    font-weight: 700;
}
#tariffs .box-body  .description {
    color: #757c8a;
    font-size: 14px;
    line-height: 25px;
}
#tariffs .box-body .button {
    margin-top: 30px;
    background: #00cc89;
    padding: 20px 0;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(127, 133, 141, 0.4);
}
#currency {
    padding: 75px 0 115px 0;
}
#currency .row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}
#currency .row-2 {
    display: flex;
    justify-content: center;
}
#currency .row-2 .item{
    margin-right: 50px;
}
#currency .row-2 .item.last {
    margin-right: 0;
}
#currency  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e7eb;
    border-radius: 10px;
    background-color: rgba(28, 175, 249, 0);
    width: 196px;
    height: 96px;
}
#currency .row-1 .item img {
    width: auto;
    object-fit: contain;
}
#investments {
    padding: 115px 0;
}
#investments .section-title {
    margin-bottom: 60px;
}
#investments .box {
    text-align: center;
    padding: 0 15px;
}
#investments .box .box-img .img-wrap{
    position: relative;
    width: 143px;
    height: 143px;
    margin: 0 auto;
}
#investments .box .box-img .img-wrap:after {
    content: "1";
    font-size: 23px;
    color: #FFffff;
    background: #00cc89;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: absolute;
    right: -25px;
    bottom: 0;
}
#investments .box .box-img .img-wrap.two:after {
    content: "2";
}
#investments .box .box-img .img-wrap.last:after {
    content: "3";
}
#investments .box .title {
    color: #222426;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
     margin: 34px 0 18px 0;
}
#investments .box .subtitle {
    color: #222426;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}
#investments .box .description {
    color: #757c8a;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
#investments .box-footer {
    margin: 100px 0 124px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
#investments .box-footer .text .title {
    font-size: 14px;
    color: #000000;
    line-height: 25px;
    margin-bottom: 15px;
}
#investments .box-footer .text .subtitle {
    font-size: 14px;
    color: #000000;
    line-height: 25px;
}
#investments .box-footer img {
    margin-right: 22px;
}
#investments .box-footer .text a {
    color: #558cfe;
    font-weight: 500;
}
#investments .box-footer .text span {
    margin-left: 5px;
    background: #00cc89;
    color: #FFffff;
    font-size: 14px;
    text-align: center;
    padding: 7px 6px 8px 6px;
    border-radius: 6px;
}
#investments .button {
    width: 347px;
    height: 58px;
    margin: 0 auto;
    border-radius: 6px;
}
#self-finance .section-title {
    margin-bottom: 70px;
}
#self-finance .box{
    text-align: center;
    padding: 0 15px;
}
#self-finance .box img {
    height: 352px;
}
#self-finance .box .text {
    color: #222426;
    font-size: 18px;
    line-height: 30px;
    margin: 55px 0 40px 0;
}
#self-finance .box .button {
    height: 58px;
}
#clients {
    padding: 126px 0 116px 0;
}
#clients .client-num {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    color: #7a8599;
    margin-bottom: 10px;
}
#clients .section-title {
    margin-bottom: 52px;
}
#clients .client-box .box-header {
    display: flex;
    align-items: center;
}
#clients .client-box .box-header .num {
    color: #7a8599;
    font-size: 35px;
    font-weight: 700;
    margin-right: 18px;
}
#clients .client-box .box-header .text {
    color: #222426;
    font-size: 16px;
    padding-top: 10px;
    line-height: 25px;
}
#clients .box-review {
    margin-top: 52px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    padding: 23px 30px 34px 30px;

}
#clients .box-review .box-img {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#clients .box-review .box-img img {
    margin-right: 5px;
}
#clients .box-review .review-title {
    font-size: 16px;
    line-height: 25px;
    color: #222426;
    font-weight: 700;
    margin-bottom: 10px;
}
#clients .box-review .text {
    font-size: 15px;
    line-height: 25px;
    color: #222426;
    margin-bottom: 43px;
}
#clients .box-review .text.two{
    margin-bottom: 43px;
}
#clients .box-review .text.last {
    margin-bottom: 20px;
}
#clients .box-review .company {
    display: flex;
    align-items: center;
    color: #1b66ff;
    font-size: 14px;
    line-height: 25px;

}
#clients .box-review .company img {
    margin-right: 12px;
}
#clients .button {
    height: 58px;
    width: 252px;
    margin: 42px auto 63px auto;
}
#clients .partners {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#why-vision .box {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    text-align: center;
    padding: 36px;
}
#why-vision .box .title {
    margin-top: 13px;
    font-weight: 700;
    font-size: 18px;
    color: #222426;
    margin-bottom: 25px;
}
#why-vision .box .subtitle{
    color: #525a6d;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 75px;
}
#why-vision .box .subtitle.last{
    margin-bottom: 50px;
}
#why-vision .box a {
    color: #1b66ff;
    font-size: 16px;
}
#why-vision .program-box {
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    padding:30px 42px 0 42px;
}
#why-vision .program-box .text-box .title {
    color: #222426;
    font-size: 30px;
    margin-bottom: 24px;
}
#why-vision .program-box .text-box .subtitle {
    color: #525a6d;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}
#why-vision.program-box  .text-box .level {
    font-size: 16px;
    line-height: 24px;
    color: #222426;
    margin-bottom: 15px;
}
#why-vision .program-box .text-box .vip {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 22px;
}
#why-vision .program-box .button{
    width: 252px;
    height: 58px;
    margin-top: 47px;
    border-radius: 6px;
}
#why-vision .program-box .img-box{
    text-align: center;
}
#why-vision .program-box .row2 {
    flex-direction: row-reverse;
}
#why-vision .program-box .row2 .img-box {
    overflow: hidden;
}
#why-vision .program-box .row2 .img-box img {

    margin-bottom: -40px;
}
#questions {
    padding: 115px 0;
}
#questions #accordion .question {
    position: relative;
    margin: 30px 0;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    padding: 25px 30px 25px 40px;
}
#questions #accordion .question.ui-accordion-header-active {
    margin: 30px 0 0 0;
}
#questions #accordion .asnwer-content {

    border-radius:  0 0 12px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px 0 rgba(58, 58, 73, 0.1);
    border-top: 1px solid #e9edf5;
    padding: 40px;

}
#questions #accordion .question.ui-accordion-header-active {
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -2px 30px 0 rgba(58, 58, 73, 0.1);
}
.accordion.ui-accordion-header-active .ui-accordion-header-icon {
    background: url(../images/icon-top.svg) center no-repeat;
    content: '';
    position: absolute;
    top: 12px;
    right: 30px;
    display: inline-block;
    width: 49px;
    height: 49px;
    background-size: contain;
}
.accordion .ui-accordion-header-icon {
    content: '';
    position: absolute;
    top: 12px;
    right: 30px;
    display: inline-block;
    width: 49px;
    height: 49px;
    background: url(../images/icon-down.svg) center no-repeat;
    background-size: contain;
}
#banner {
    padding-bottom: 75px;
}
#banner .banner-box {
    border-radius: 10px;
    background: #1b66ff;
}
#banner .banner-text {
    padding: 60px 70px;
}
#banner .banner-text .title {
    font-size: 30px;
    color: #FFffff;
    font-weight: 700;
    line-height: 53px;
}
#banner .img {
    text-align: center;
}
#banner .img img {
    height: 425px;
    margin-top: -50px;
}
#banner .oc {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
#banner .oc  .item {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .oc  .item:first-child{
    margin-right: 30px;
}
footer .footer1 {
    padding-bottom: 50px;
}
footer .box {
    display: flex;
    justify-content: space-between;
}
footer .box .logo p {
    font-size: 16px;
    color: #979faf;
    margin: 30px 0;
}
footer .box .logo .mail {
    color: #535b6e;
}
footer .box .logo .mail img {
    margin-right: 5px;
}
footer .box ul li.title {
    color: #222426;
    font-size: 18px;
    font-weight: 700;
}
footer .box ul li {
    margin-bottom: 26px;
}
footer .box ul li:last-child{
    margin-bottom: 0;
}
footer .box ul li a {
    font-size: 16px;
    color: #545b6d;
}
footer .box-two .box-header {
    padding: 15px;
    background: #f6f7fb;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
footer .box-two .box-header .img {
    border-radius: 13px;
    background-image: -moz-linear-gradient( -45deg, rgb(192,213,255) 0%, rgb(204,252,240) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(192,213,255) 0%, rgb(204,252,240) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(192,213,255) 0%, rgb(204,252,240) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 83px;
}

footer .box-two .box-header .text {
    margin-left: 18px;
}
footer .box-two .box-header .text p {
    font-size: 16px;
    color: #222426;
}
footer .box-two .box-header .text a {
    color: #1b66ff;
}
footer .box-body .item {
    display: flex;
    margin-bottom: 27px;
}
footer .box-body .item .title {
    font-size: 18px;
    color: #222426;
    margin-bottom: 15px;
    font-weight: 700;
}
footer .box-body .item p {
    color: #545b6d;
    font-size: 16px;
    line-height: 25px;
}
footer .box-body .item img {
    margin-right: 20px;
    width: 24px;
    height: 34px;
}
footer .box-body .item:last-child {
    margin-bottom: 0;
}
footer .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dbdee5;
    padding: 23px 0;
}
footer .footer-nav .copyright {
    color: #7a8599;
    font-size: 14px;
    text-transform: uppercase;
}
footer .footer-nav .copyright span {
    text-transform: capitalize;
}
footer .footer-nav ul li {
    margin-right: 53px;
    position: relative;

}
footer .footer-nav ul li a {
    color: #7a8599;
    font-size: 14px;
}
footer .footer-nav ul li:last-child{
    margin-right: 0;
}
footer .footer-nav ul li:last-child:after {
    display: none;
}
footer .footer-nav ul li:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #7a8599;
    position: absolute;
    right: -27px;
    top: 50%;
}
